body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  letter-spacing: 0.9px;
  font-family: 'Salsa', 'Roboto', sans-serif;
}

.clock {
  font-size: 100px;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.setting {
  display: flex;
  align-items: center;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  background-image: url('/img/noise/noise-dark.png'); /* Replace with the path to your 50px * 50px image */
  background-size: 220px; /* Size of your small image */
  background-repeat: repeat; /* Repeat the image both horizontally and vertically */
  z-index: -1; /* Place the background behind other elements */
}

#quick-settings {
  display: flex;
  min-width: 10px;
  padding: 0px 10px;
  height: 30px;
  position: absolute;
  align-self: self-end;
  opacity: 0.05;
  border-radius: 15px;
  margin: 5px;
  margin-left: auto;
}

#quick-settings {
  opacity: 1;
}

.show-modal {
  width: 100px;
  height: auto;
  margin-bottom: 12px;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 2.5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.modal-content {
  margin-top: 12px;
}
