* {
  font-family: "Salsa", "Roboto", sans-serif;
}

.setting {
  display: flex;
  align-items: center;
  gap: 5px;
}

input {
  padding-left: 4px;
  border: solid 1px;
  border-radius: 7px;
  margin: 2px 0px;
}

select {
  padding-left: 4px;
  border: solid 1px;
  border-radius: 7px;
  margin: 2px 0px;
}

.tab-selection {
  margin: 6px 2px;
  padding: 1px 6px;
  border-radius: 2px;
}

.tab-selection:hover {
  background-color: aquamarine;
}

.tab-selection-selected {
  background-color: aquamarine;
}

.hidden-content {
  visibility: collapse;
}
