body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.clock {
  font-size: 100px;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.settings {
  border: red solid;
  height: 50px;
  width: 50px;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  background-image: url('img/noise-medium.jpg'); /* Replace with the path to your 50px * 50px image */
  background-size: 100px 100px; /* Size of your small image */
  background-repeat: repeat; /* Repeat the image both horizontally and vertically */
  z-index: -1; /* Place the background behind other elements */
  opacity: 0.08;
}
