* {
    font-family: 'Salsa', 'Roboto', sans-serif;
}

h2 {
    margin-bottom: 8px;
    margin-top: 30px;
}

div {
    font-size: 13px;
}

p {
    margin-top: 3px;
}

.warning {
    color: red;
}

button {
    padding: 0px 4px;
    border: solid 1px;
    border-radius: 7px;
    margin: 2px 0px;
}

#save-button {
    margin-top: 20px;
    font-size: medium;
    padding: 2px 7px;
}
input {
    padding-left: 4px;
    border: solid 1px;
    border-radius: 7px;
    margin: 2px 0px;
}

select {
    padding-left: 4px;
    border: solid 1px;
    border-radius: 7px;
    margin: 2px 0px;
}



#digitalClock {
    border: #666 solid 1px;
    width: 100%;
    border-radius: 11px;
    min-height: 50px;
}
