* {
    font-family: 'Salsa', 'Roboto', sans-serif;
}

h2 {
    margin-bottom: 8px;
    margin-top: 30px;
}

div {
    font-size: 13px;
}

input {
    padding-left: 4px;
    border: solid 1px;
    border-radius: 7px;
    margin: 3px 0px;
}

select {
    padding-left: 4px;
    border: solid 1px;
    border-radius: 7px;
}


#tab-div {
    color: #e679d2;
}
#perf-div {
    color: #ab8be3;
}

#clock-div {
    color: #5f9ea0;
}

#font-div {
    color: #87b97c;
}

#preview-div {
    color: #666;
}
